<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <table>
            <tr>
                <td colspan="2">안녕하세요. 미트매치 입니다. 임시 비밀번호 발급 안내입니다.</td>
            </tr>
            <tr>
                <td>아이디</td>
                <td th:text="${authId}"></td>
            </tr>
            <tr>
                <td>임시 비밀번호</td>
                <td th:text="${tempPassword}"></td>
            </tr>
            <tr>
                <td colspan="2">임시 비밀번호를 정확히 입력 후 로그인 해주세요.</td>
            </tr>
        </table>
    </body>
</html>